.main-container {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.row-container {
	display: flex;
	flex-direction: row;
	height: 100%;
}
.gutter {
	background-color: #eee;
	background-repeat: no-repeat;
	background-position: 50%;
}
.gutter.gutter-vertical {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
	cursor: row-resize;
}
.gutter.gutter-horizontal {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
	cursor: col-resize;
}
.flex-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 50px;
	//width: 350px;
	float: right;
	margin-top: -35px;
	margin-right: -40px;
	>div {
		background-color: #DCDDB6;
		width: auto;
		padding: 20px;
		//height: 100px;
		font-size: 10px;
	}
}
.flex-float-right
{
	display: flex;
	flex-direction: row;
	 height: 25px!important;
	 font-weight: bold;
	 padding-left:10px;
	 padding-top:10px
}
.float-left {
	float: left;
}
.float-padding {
	float: right;
	padding-right: 20;
}
.main-icon {
	height: 10px;
	margin-right: 10px;
}
.lorem-padding {
	padding: 10;
}
.insert-field {
	height: 25px;
	width: 100%;
	border-color: darkgray;
}
.main-navbar {
	background-color: #172B7A;
	display: flex;
	padding: 10px;
	flex-direction: row;
	height: 50px;
}
.flex-row {
	display: flex;
	flex-direction: row;
}
.flex-column {
	display: flex;
	flex-direction: column;
}
.icon-user {
	height: 20px;
	margin-right: 10px;
}
.icon-diskette {
	height: 20px;
	margin-right: 10px;
}
.margin-label {
	margin-right: 20px;
	color: white;
}
.nav-label {
	display: flex;
	padding: 10px;
	flex-direction: column;
	flex: 2;
	color: white;
	font-weight: bold;
}
